.angular-config.json
.aws/
.azure/
.bash_history
.bash_logout
.bun/
.cache/
.codeium/
.docker/
.git/
.gitconfig
.landscape/
.local/
.motd_shown
.npm/
.profile
.ssh/
.sudo_as_admin_successful
.tmux/
code/
github-copilot/
.nvm/
.zcompdump
